.field {
  background: #fff;
}

.toast {
  transform: translate(calc(100% + 30px), -50%);
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active {
  transform: translate(0, -50%);
}

.toastInner {
  background: #fff;
  border-color: #fff;
}